<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Derah's Designs</title>

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/stylesheets/style.css" />

    <script
      src="https://kit.fontawesome.com/7596021f26.js"
      crossorigin="anonymous"
    ></script>
    <script src="../public/js/nav.js" defer></script>
    ]
    <!-- <script src="../public/js/scroll.js" defer></script>] -->
  </head>
  <body>
    <div class="nav-container">
      <div class="nav-branding">
        <img src="../public/images/logo.png" alt="" />
      </div>

      <div class="nav">
        <ul id="nav-items-wrap">
          <li class="nav-items">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-items">
            <a href="catalogue.html" class="nav-link">Catalogue</a>
          </li>
          <li class="nav-items">
            <a href="connect.html" class="nav-link">Connect</a>
          </li>
        </ul>
      </div>

      <button class="hamburger">
        <div class="bar"></div>
      </button>
      <!-- end of nav div -->
    </div>
    <!-- end of nav-container div -->

    <nav class="mobile-nav">
      <a href="index.html">Home</a>
      <a href="catalogue.html">Catalogue</a>
      <a href="connect.html">Connect</a>
    </nav>
    <!-- end of mobile-nav -->

    <div class="slide-container">
      <button id="slide-up">
        <img src="../public/images/arrow-down.png" alt="arrow-down" />
      </button>
      <button id="slide-down">
        <img src="../public/images/arrow-down.png" alt="arrow-down" />
      </button>
      <div class="slider">
        <div class="slide-group" id="group1">
          <div class="slide-card" id="jankins">
            <!--Each design is in a card-->
            <div class="description">
              <h1>
                OLD <br />
                MAN <br />
                JANKINS<br />
              </h1>
              <span>. gloom . depression . age</span>
            </div>
          </div>
          <div class="slide-card" id="ralph">
            <div class="description">
              <h1>
                RALPH <br />
                THE <br />
                ROBOT<br />
              </h1>
              <span>. minimal . humanoid . expression</span>
            </div>
          </div>
        </div>
        <div class="slide-group" id="group2">
          <div class="slide-card" id="africana">
            <div class="description">
              <h1>
                ART <br />
                AFRICANA<br />
              </h1>
              <span>. historical . traditional . sculpt</span>
            </div>
          </div>
          <div class="slide-card" id="nok">
            <div class="description">
              <h1>
                N.O.K <br />
                AFRICA<br />
              </h1>
              <span>. tribal . cultural . historical</span>
            </div>
          </div>
        </div>
      </div>
      <!--End of slide container-->
    </div>
    <!-- 
    <button id="scroll-up">
      <img src="../public/images/arrow-up.png" alt="scroll-up" />
    </button> -->

    <script>
      const controlPrev = document.querySelector("#slide-up");
      const controlNext = document.querySelector("#slide-down");
      const slider = document.querySelector(".slider");
      const groups = document.querySelectorAll(".slide-group");
      let currentGroupIndex = 0;

      //Set slider animation
      let updateSliderPosition = () => {
        slider.style.transform = `translateY(-${currentGroupIndex * 100}%)`;
        slider.style.transition = "all 0.5s ease";
      };

      //Navigate to previous slide
      // Previous slide button doesn't show till the next slide
      let showPrevGroup = () => {
        if (currentGroupIndex > 0) {
          currentGroupIndex--;
          updateSliderPosition();
          controlPrev.style.display = "none";
          controlNext.style.display = "block";
        }
      };

      //Navigate to the next slide
      // Next slide button doesn't show till the next slide

      let showNextGroup = () => {
        if (currentGroupIndex < groups.length - 1) {
          currentGroupIndex++;
          controlPrev.style.display = "block";
          controlNext.style.display = "none";
          updateSliderPosition();
        }
      };

      controlPrev.addEventListener("click", showPrevGroup);
      controlNext.addEventListener("click", showNextGroup);
    </script>
  </body>
</html>
