<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Derah's Designs</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/stylesheets/sass/style.css" />

    <script
      src="https://kit.fontawesome.com/7596021f26.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="nav-container">
      <div class="image-wrap">
        <img src="../public/images/logo.png" alt="" />
      </div>
      <header></header>
      <!-- end of header element -->
    </div>
    <!-- end of nav-container div -->
    <section class="catalogue">
      <div class="item" id="jankins">
        <div class="description">
          OLD <br />
          MAN <br />
          JANKINS<br />
          <small>. gloom . depression . age</small>
        </div>
      </div>
      <div class="item" id="ralph">
        <div class="description">
          RALPH <br />
          THE <br />
          ROBOT<br />
          <small>. minimal . humanoid . expression</small>
        </div>
      </div>
      <div class="item" id="africana">
        <div class="description">
          ART <br />
          AFRICANA<br />
          <small>. historical . traditional . sculpt</small>
        </div>
      </div>
      <div class="item" id="nok">
        <div class="description">
          N.O.K <br />
          AFRICA<br />
          <small>. tribal . cultural . historical</small>
        </div>
      </div>
    </section>
  </body>
</html>
