<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Derah's Designs</title>

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/stylesheets/sass/style.css" />

    <script
      src="https://kit.fontawesome.com/7596021f26.js"
      crossorigin="anonymous"
    ></script>
    <script src="../public/js/nav.js" defer></script>
  </head>
  <body>
    <div class="nav-container">
      <div class="nav-branding">
        <img src="../public/images/logo.png" alt="" />
      </div>

      <div class="nav">
        <ul id="nav-items-wrap">
          <li class="nav-items">
            <a href="index.html" class="nav-link">HOME</a>
          </li>
          <li class="nav-items">
            <a href="catalogue.html" class="nav-link">CATALOGUE</a>
          </li>
          <li class="nav-items">
            <a href="connect.html" class="nav-link">CONNECT</a>
          </li>
        </ul>
      </div>

      <button class="hamburger">
        <div class="bar"></div>
      </button>
      <!-- end of nav div -->
    </div>
    <!-- end of nav-container div -->
  </header>
  <!-- end of header element -->

  <nav class="mobile-nav">
    <a href="index.html">Home</a>
    <a href="catalogue.html">Catalogue</a>
    <a href="connect.html">Connect</a>
  </nav>
  <!-- end of mobile-nav -->
  
    <img
      class="pexel"
      id="pexel-1"
      src="../public/images/pexel.png"
      alt="pexels"
    />
    <img
      class="pexel"
      id="pexel-2"
      src="../public/images/pexel.png"
      alt="pexels"
    />
    <img
      class="pexel"
      id="pexel-3"
      src="../public/images/pexel.png"
      alt="pexels"
    />
    <img
      class="pexel"
      id="pexel-4"
      src="../public/images/pexel.png"
      alt="pexels"
    /><div class="des-wrap">DES</div>
      <div class="ign-wrap">IGN</div>
    <main class="catalogue">
      
      <div class="ui-design">
        <div class="ui-image">
          <a href="ui-catalogue.html"
            ><img src="../public/images/cassette.png" alt="3ddesign"
          /></a>
        </div>
        <p>
          <span class="on_mobile">Take a trip through my UI catalogue.</span>
          <span class="on_desktop">User Interface</span>
        </p>
      </div>
      <div class="three-d-design">
        <div class="three-d-image">
          <a href="3d-catalogue.html"
            ><img src="../public/images/jankins.png" alt="3ddesign"
          /></a>
        </div>
        <p>
          <span class="on_mobile">Take a trip through my 3D catalogue.</span>
          <span class="on_desktop">3D Modeling</span>
        </p>
      </div>
      </main>
    </section>
  </body>
</html>
