<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect</title>
    <link rel="stylesheet" type="" href="../public/stylesheets/style.css" />
    <script src="../public/js/nav.js" defer></script>
  </head>
  <body>
    <div class="nav-container">
      <div class="nav-branding">
        <img src="../public/images/logo.png" alt="" />
      </div>

      <div class="nav">
        <ul id="nav-items-wrap">
          <li class="nav-items">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-items">
            <a href="catalogue.html" class="nav-link">Catalogue</a>
          </li>
          <li class="nav-items">
            <a href="connect.html" class="nav-link">Connect</a>
          </li>
        </ul>
      </div>

      <button class="hamburger">
        <div class="bar"></div>
      </button>
      <!-- end of nav div -->
    </div>
    <!-- end of nav-container div -->

    <nav class="mobile-nav">
      <a href="index.html">Home</a>
      <a href="catalogue.html">Catalogue</a>
      <a href="connect.html">Connect</a>
    </nav>
    <!-- end of mobile-nav -->

    <section class="main-intro">
      <div class="first-layer">
        <img id="robo-img" src="../public/images/Group 14.png" alt="robot" />

        <h1 id="title-text">CHIDERA FRANCIS<br /><span>UKEWUIHE</span></h1>
      </div>

      <div class="second-layer">
        <div class="search-area">
          <div class="input-container">
            <img
              id="tel-id"
              src="../public/images/bx_phone-call.svg"
              alt="tel-svg"
            />
            <input type="search" name="search-tel" />
          </div>

          <div class="input-container">
            <img
              id="eml-id"
              src="../public/images/carbon_email-new.svg"
              alt="email-svg"
            />
            <input type="search" name="search-eml" />
          </div>
        </div>
        <div class="bio-text">
          <p id="bio">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex
            molestias distinctio temporibus minima pariatur quae non
            reprehenderit nam voluptates ducimus quia architecto voluptatum,
            debitis voluptatem. Nostrum inventore quis fuga voluptates.
          </p>
        </div>
      </div>

      <div class="third-layer">
        <h2 id="skl-til">SKILLS</h2>

        <div class="skill-gallery">
          <div class="ski-card">
            <img src="../public/images/Blender logo.png" id="bl" alt="" />
            <h4 id="til-he">blender</h4>
          </div>

          <div class="ski-card">
            <img src="../public/images/Photoshop logo.png" id="ph" alt="" />
            <h4 id="til-he">Photoshop</h4>
          </div>

          <div class="ski-card">
            <img src="../public/images/figma logo.png" id="fi" alt="" />
            <h4 id="til-he">Figma</h4>
          </div>

          <div class="ski-card">
            <img src="../public/images/adobe-xd logo.png" id="ad" alt="" />
            <h4 id="til-he">Adobe XD</h4>
          </div>
        </div>
      </div>
    </section>

    <div class="footer">
      <footer>
        <p>DeraDesigns &copy;Copyright 2022</p>
      </footer>
    </div>
  </body>
</html>
