<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Derah's Designs</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/stylesheets/style.css" />

    <script
      src="https://kit.fontawesome.com/7596021f26.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="nav-container">
        <div class="logo-image-wrap">
          <img src="../public/images/logo.png" alt="" />
        </div>

        <div class="menu-bar">
          <div class="nav">
            <ul id="nav-items-wrap">
              <li class="nav-items">
                <a href="" class="nav-links">Home</a>
              </li>
              <li class="nav-items">
                <a href="../views/catalogue.html" class="nav-links"
                  >Catalogue</a
                >
              </li>
              <li class="nav-items">
                <a href="" class="nav-links">Connect</a>
              </li>
            </ul>
          </div>
          <!-- end of nav div -->
        </div>
        <!-- end of menu-bar div -->
      </div>
      <!-- end of nav-container div -->
    </header>
    <!-- end of header element -->

    <div class="landing-message-container">
      <div class="landing-image-wrap">
        <img src="../public/images/design.png" alt="" />
      </div>
      <div class="landing-message-wrap">
        <h1>
          Hello<span id="dot">.</span><br />
          I am <br />
          Derah
        </h1>
        <p>Welcome. Please feel free to look around</p>
      </div>
    </div>
  </body>
</html>
