<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Derah's Designs</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../public/stylesheets/style.css" />

    <script
      src="https://kit.fontawesome.com/7596021f26.js"
      crossorigin="anonymous"
    ></script>

    <script src="../public/js/nav.js" defer></script>
    <!-- <script src="../public/js/scroll.js" defer></script> -->
  </head>
  <body>
    <header>
      <div class="nav-container">
        <div class="nav-branding">
          <img src="../public/images/logo.png" alt="" />
        </div>

        <div class="nav">
          <ul id="nav-items-wrap">
            <li class="nav-items">
              <a href="index.html" class="nav-link">HOME</a>
            </li>
            <li class="nav-items">
              <a href="catalogue.html" class="nav-link">CATALOGUE</a>
            </li>
            <li class="nav-items">
              <a href="connect.html" class="nav-link">CONNECT</a>
            </li>
          </ul>
        </div>

        <button class="hamburger">
          <div class="bar"></div>
        </button>
        <!-- end of nav div -->
      </div>
      <!-- end of nav-container div -->
    </header>
    <!-- end of header element -->

    <nav class="mobile-nav">
      <a href="index.html">Home</a>
      <a href="catalogue.html">Catalogue</a>
      <a href="connect.html">Connect</a>
    </nav>
    <!-- end of mobile-nav -->

    <main>
      <section class="ui-catalogue">
        <h1>UI CATALOGUE</h1>
        <div class="ui-designs">
          <div class="bura">
            <div class="design">
              <p><span>BURA</span><span>food</span></p>

              <a href="#">
                <img src="../public/images/arrow-right.png" alt="arrow-right" />
              </a>
            </div>
            <div class="tag">
              <p><span>WEB</span><a href="#">Bura Food</a></p>
            </div>
          </div>
          <div class="antique">
            <div class="design">
              <p>Antique</p>
              <p>Parian</p>
              <a href="#">
                <img src="../public/images/arrow-right.png" alt="arrow-right" />
              </a>
            </div>
            <div class="tag">
              <p><span>WEB</span><a href="#">Antique Param</a></p>
            </div>
          </div>
          <div class="biocomputer">
            <div class="design">
              <p>Biocomputer</p>
              <a href="#">
                <img src="../public/images/arrow-right.png" alt="arrow-right" />
              </a>
            </div>

            <div class="tag">
              <p><span>WEB</span><a href="#">Biocomputer</a></p>
            </div>
          </div>
        </div>
      </section>

      <!-- <button id="scroll-up">
      <img src="../public/images/arrow-up.png" alt="scroll-up" />
    </button> -->
    </main>
  </body>
</html>
