/************************************************* base styles ***************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #040404;
}

.pexel {
  position: absolute;
  z-index: 3;
  display: none;
}
@media screen and (min-width: 576px) {
  .pexel {
    display: block;
  }
}

#pexel-1 {
  width: 20px;
  top: 15%;
  left: 75%;
}

#pexel-2 {
  width: 20px;
  top: 20%;
  left: 30%;
}

#pexel-3 {
  width: 25px;
  top: 40%;
  left: 10%;
}

#pexel-4 {
  width: 35px;
  top: 75%;
  left: 45%;
}

.on_desktop {
  display: none;
}
@media screen and (min-width: 576px) {
  .on_desktop {
    display: block;
  }
}

.on_mobile {
  display: block;
}
@media screen and (min-width: 576px) {
  .on_mobile {
    display: none;
  }
}

/***************************************** end of base styles ******************************************/
.catalogue {
  /* Container for the links to each category*/
  position: relative;
  padding: 50px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 80%;
  /*************************************** 3D-Catalogue Page***********************************/
  /**************** End of 3D Catalogue Page ***********************/
}
.catalogue .des-wrap {
  top: 0;
  left: 30%;
  position: absolute;
  font-family: "Ubuntu";
  font-size: 18em;
  font-weight: 700;
  color: #181818;
  opacity: 0.34;
  text-shadow: -31px 4px 37px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media screen and (min-width: 576px) {
  .catalogue .des-wrap {
    top: -15%;
    left: 30%;
  }
}
.catalogue .ign-wrap {
  top: 45%;
  left: 30%;
  position: absolute;
  font-family: "Ubuntu";
  font-size: 18em;
  font-weight: 700;
  color: #181818;
  opacity: 0.34;
  text-shadow: -31px 4px 37px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media screen and (min-width: 576px) {
  .catalogue .ign-wrap {
    left: 30%;
  }
}
.catalogue .ui-design,
.catalogue .three-d-design {
  z-index: 1;
  text-align: center;
}
.catalogue .ui-design .ui-image,
.catalogue .ui-design .three-d-image,
.catalogue .three-d-design .ui-image,
.catalogue .three-d-design .three-d-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.catalogue .ui-design .ui-image img,
.catalogue .ui-design .three-d-image img,
.catalogue .three-d-design .ui-image img,
.catalogue .three-d-design .three-d-image img {
  width: 100%;
  height: auto;
}
.catalogue .ui-design p,
.catalogue .three-d-design p {
  text-align: center;
}
.catalogue .ui-design p a,
.catalogue .three-d-design p a {
  text-decoration: none;
  cursor: pointer;
  color: #f5fdff;
}
.catalogue .ui-design:hover,
.catalogue .three-d-design:hover {
  /* fade out the element on hover*/
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
.catalogue .ui-design:hover img,
.catalogue .three-d-design:hover img {
  opacity: 0;
  -webkit-animation: fade 0.5s ease-in-out;
          animation: fade 0.5s ease-in-out;
}
.catalogue .ui-design:hover a,
.catalogue .three-d-design:hover a {
  /* Neon effect on hover */
  color: #f5fdff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #B9961B, 0 0 82px #B9961B, 0 0 92px #B9961B, 0 0 102px #B9961B, 0 0 151px #B9961B;
}
@media screen and (min-width: 576px) {
  .catalogue .ui-design,
.catalogue .three-d-design {
    width: 35%;
  }
}
.catalogue .item {
  width: 100%;
  height: 500px;
}
.catalogue .item img {
  width: 100%;
}
.catalogue .item .description {
  width: 200px;
  font-family: "Poppins";
  color: #f5fdff;
}
@media screen and (min-width: 576px) {
  .catalogue .item {
    width: 45%;
  }
}
.catalogue #jankins {
  background-image: url(../../images/jankins-alt.png);
}
.catalogue #ralph {
  background-image: url(../../images/ralph.png);
}
@media screen and (min-width: 576px) {
  .catalogue {
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    margin: 5vh auto;
    padding: 0;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */