////////////colors
$blackBackground: linear-gradient(33.69deg, #000000 20%, #131517 81.92%);
$textBlack: #181818;
$gold: #b9961b;
$textWhite: #f5fdff;
$blackBackground: #040404;
$textBlack: #181818;
$fadedGold: #b99b2e;
$gentleRed: #b91b67;
$fadedBlack: #111111;

///////////////variables
$bp-small: 600px;

////////////////////////////fonts
$font-poppins: "Poppins", sans-serif;

/////////////mixins
@mixin font-block($line-height, $font-size, $font-weight) {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin blackBGPosition {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

$bp-small: 600px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow-x: hidden;
    background: $blackBackground;
}

/************************************************* base styles ***************************************/


////////////////////////////keyframes
@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes textBlink {
    from {
        width: 0.15rem;
    }

    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 0.47;
        transform: translateY(0);
    }
}

/************************************************* base styles ***************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $textWhite;
}

body {
    padding: 0;
    margin: 0;
    background-color: $blackBackground;
    // background: url("../images/body-background.png") no-repeat center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

/***************************************** end of base styles ******************************************/

/***************************************** nav styles ******************************************/
.nav-container {
    padding: 2em 3em 0;
    display: flex;
    gap: 1em;
    justify-content: space-between;

    .nav-branding {
        width: max-content;

        >img {
            width: 100%;
        }
    }

    .nav {
        width: max-content;
        display: flex;

        @media only screen and (max-width: 768px) {
            display: none;
        }

        #nav-items-wrap {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: center;
            align-items: center;

            .nav-link {
                color: $textWhite;
                font-family: $font-poppins;
                text-decoration: none;

                &:hover {
                    color: $gold;
                }
            }
        }
    }

    .hamburger {
        @media only screen and (min-width: 768px) {
            display: none;
        }

        display: block;
        width: 35px;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;

        .bar,
        &::after,
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background: $textWhite;
            margin: 6px 0;
            transition: all 0.3s ease;
        }
    }

    .hamburger.active {
        .bar {
            opacity: 0;
        }

        &::before {
            transform: rotate(45deg) translateY(15px);
        }

        &::after {
            transform: rotate(-45deg) translateY(-15px);
        }
    }
}

.mobile-nav {
    @media only screen and (min-width: 768px) {
        display: none;
    }

    position: fixed;
    top: 0;
    left: 100%;
    width: 60%;
    min-height: 100vh;
    display: block;
    z-index: 2;
    background-color: $blackBackground;
    padding-top: 120px;
    transition: 0.4s;

    a {
        display: block;
        text-align: center;
        max-width: 50%;
        margin: 0 auto 2rem;
        padding: 1rem;
        background-color: $fadedBlack;
        color: $textWhite;
        text-decoration: none;
        border-radius: 5px;
        @include font-block(1rem, 0.8rem, 300);

        &:hover {
            background-color: $gold;
        }
    }
}

.mobile-nav.active {
    left: 0;
}

/***************************************** end of nav styles ******************************************/

/***************************************** landing page styling ******************************************/

.landing-message-container {
    width: 100%;
    position: relative;

    .landing-image-wrap {
        margin: 2rem auto;
        width: 50%;

        @media only screen and (max-width: 768px) {
            width: 100%;
            max-height: 80vh;
            overflow: hidden;
        }

        >img {
            width: 100%;
            height: max-content;

            @media only screen and (max-width: 768px) {
                width: 200%;
            }
        }
    }

    .landing-message-wrap {
        position: absolute;
        top: 20%;
        left: 57%;
        width: max-content;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 768px) {
            left: 50%;
            top: 25%;
            transform: translateX(-50%);
        }

        >h1 {
            @include font-block(7rem, 7rem, 600);
            margin-bottom: 0;

            @media only screen and (max-width: 768px) {
                @include font-block(5rem, 5rem, 600);
            }
        }

        #hello {
            position: relative;
            max-width: max-content;

            &::before,
            &::after {
                @include blackBGPosition();
            }

            &::before {
                background: $blackBackground;
                animation: typewriter 1s steps(6) 2s forwards;
            }

            &::after {
                animation: typewriter 1s steps(6) 2s forwards;
            }

            #dot {
                color: $gentleRed;
            }
        }

        #i-am {
            position: relative;
            max-width: max-content;

            &::before,
            &::after {
                @include blackBGPosition();
            }

            &::before {
                background: $blackBackground;
                animation: typewriter 1s steps(3) 3s forwards;
            }

            &::after {
                animation: typewriter 1s steps(3) 3s forwards;
            }
        }

        #derah {
            position: relative;
            max-width: max-content;

            &::before,
            &::after {
                @include blackBGPosition();
            }

            &::before {
                background: $blackBackground;
                animation: typewriter 1s steps(5) 4s forwards;
            }

            &::after {
                animation: typewriter 1s steps(5) 4s forwards;
            }
        }

        >p {
            @include font-block(1rem, 1rem, 300);
            opacity: 0;
            transform: translateY(3rem);
            animation: fadeInUp 2s ease 5s forwards;

            @media only screen and (max-width: 768px) {
                @include font-block(1rem, 1rem, 300);
                margin-top: 0.8rem;
            }
        }
    }
}

.btn-container {
    display: none;

    @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0 5rem;
        width: 100%;

        .btn {
            @include font-block(1rem, 1rem, 300);
            padding: 1rem 2rem;
            border: 1px solid $gold;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            background-color: $fadedGold;
            color: $textWhite;
            width: 80%;
            transition: margin-top 1s, width 1s, background-color 1s;

            &:hover {
                background-color: $gold;
                color: $textWhite;
                border: 1px solid $gold;
                margin-top: 0.5rem;
                width: 85%;
            }
        }
    }
}

/***************************************** end of landing page styling ******************************************/

.pexel {
    position: absolute;
    z-index: 3;
    display: none;

    @media (min-width: $bp-small) {
        display: block;
    }
}

#pexel-1 {
    width: 20px;
    top: 20%;
    left: 75%;
}

#pexel-2 {
    width: 20px;
    top: 25%;
    left: 30%;
}

#pexel-3 {
    width: 25px;
    top: 40%;
    left: 10%;
}

#pexel-4 {
    width: 35px;
    top: 75%;
    left: 45%;
}

.on_desktop {
    display: none;

    @media (min-width: $bp-small) {
        display: block;
    }
}

.on_mobile {
    display: block;

    @media (min-width: $bp-small) {
        display: none;
    }
}

/***************************************** end of Reusable styles ******************************************/

/************************* Main catalogue page styles ***************************************/
@mixin textbackgroundStyles {
    position: fixed;
    font-family: "Ubuntu";
    font-size: 15em;
    font-weight: 700;
    color: $textBlack;
    opacity: 0.34;
    text-shadow: -31px 4px 37px rgba(0, 0, 0, 0.25);
    text-align: center;

    @media (min-width: $bp-small) {
        font-size: 18em;
    }
}

.des-wrap {
    top: 20%;
    left: 25%;
    @include textbackgroundStyles();

    @media (min-width: $bp-small) {
        top: 10%;
        left: 25%;
    }
}

.ign-wrap {
    top: 60%;
    left: 25%;
    @include textbackgroundStyles();

    @media (min-width: $bp-small) {
        top: 50%;
        left: 25%;
    }
}

.catalogue {
    /* Container for the links to each category*/
    position: relative;
    padding: 50px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.25);

    .ui-design,
    .three-d-design {
        z-index: 1;
        text-align: center;

        .ui-image,
        .three-d-image {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                width: 50%;
                height: auto;

                // &:nth-child(1) {
                //     @media (max-width: $bp-small) {
                //         &:focus {
                //             transform: translate(100vw);
                //             opacity: 0;
                //             transition: all 1s ease;
                //         }
                //     }
                // }

                @media (min-width: $bp-small) {
                    width: 100%;

                    &:hover {
                        /* increase image size on hover*/
                        transform: scale(1.2);
                        transition: transform 1s ease;
                    }
                }
            }
        }

        p {
            text-align: center;
            color: $textWhite;
        }

        @media (min-width: $bp-small) {
            width: 35%;
        }
    }

    @media (min-width: $bp-small) {
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
    }
}

/********************* end of main catalogue page styles ***************/

/******* 3d Catalogue Page Styles *******/
@mixin cardTextStyles {
    font-family: "Poppins";
    position: absolute;
    color: $textWhite;

    h1 {
        font-size: 1.5em;
        font-weight: 400;

        @media (min-width: $bp-small) {
            font-size: 2em;
        }
    }

    span {
        font-size: 12px;
        opacity: 0.72;
    }
}

.slide-container {
    height: 100%;
    width: 100%;
    position: relative;

    #slide-up {
        display: none;
        border: 0;
        background: none;
        width: 3em;
        height: 50px;
        position: absolute;
        top: 25px;
        left: 50vw;
        z-index: 2;

        img {
            width: 100%;
            transform: rotate(180deg);
        }

    }

    #slide-down {
        display: none;
        border: 0;
        background: none;
        width: 3em;
        height: 50px;
        position: absolute;
        bottom: 10px;
        left: 50vw;
        z-index: 2;

        img {
            width: 100%;
        }

        @media (min-width: $bp-small) {
            display: block;
        }
    }

    .slider {
        .slide-group {
            width: 100%;
            height: 100%;

            .slide-card {
                height: 500px;
                width: 100%;
                padding: 100px 50px;

                @media (min-width: $bp-small) {
                    width: 50%;
                    padding: 200px 25px;
                }
            }

            @media (min-width: $bp-small) {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

        #jankins {
            background: url("../../images/jankins-alt.png") no-repeat;
            background-size: 25em;
            background-position: 60% center;
            box-shadow: -36px 54px 83px rgba(0, 0, 0, 0.65);
            border-radius: 20px;
            position: relative;

            .description {
                @include cardTextStyles();
                top: 45%;
                left: 25%;
            }

            @media (min-width: $bp-small) {
                background-size: 80%;
            }
        }

        #ralph {
            background: url("../../images/ralph-alt.png") no-repeat;
            background-size: 15em;
            background-position: 80% center;
            box-shadow: -36px 54px 83px rgba(0, 0, 0, 0.65);
            border-radius: 20px;
            position: relative;

            .description {
                @include cardTextStyles();
                top: 50%;
                left: 15%;

                @media (min-width: $bp-small) {
                    left: 10%;
                }
            }

            @media (min-width: $bp-small) {
                background-image: url("../../images/ralph.png");
                background-size: 80%;
            }
        }

        #africana {
            background: url("../../images/africana.png") no-repeat;
            background-size: 100%;
            background-position: center center;
            box-shadow: -36px 54px 83px rgba(0, 0, 0, 0.65);
            border-radius: 20px;
            position: relative;

            .description {
                @include cardTextStyles();
                top: 60%;
                left: 10%;
            }

            @media (min-width: $bp-small) {
                background-size: 80%;
            }
        }

        #nok {
            background: url("../../images/nok.png") no-repeat;
            background-size: 100%;
            background-position: 70% center;
            box-shadow: -36px 54px 83px rgba(0, 0, 0, 0.65);
            border-radius: 20px;
            position: relative;

            .description {
                @include cardTextStyles();
                top: 60%;
                left: 10%;
            }

            @media (min-width: $bp-small) {
                background-size: 80%;
            }
        }

        @media (min-width: $bp-small) {
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
        }
    }

    @media (min-width: $bp-small) {
        overflow-y: hidden;
    }
}

/***** Connect page styles *****/
.hero {
    font-family: "Poppins";
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;

    img:nth-child(1) {
        width: 20%;
        margin-left: 5%;
    }

    img:nth-child(2) {
        width: 70%;
    }

    h1 {
        color: $textWhite;
        text-transform: uppercase;
        font-size: 5vw;

        .bold {
            @media (min-width: $bp-small) {
                font-size: 3.5vw;
            }
        }

        @media (min-width: $bp-small) {
            font-size: 2.5vw;
            margin: 20vh 25vw 0 0;
        }
    }

    @media (min-width: $bp-small) {
        transform: translateY(-15vh);
    }
}

.connect {
    color: $textWhite;
}

.skills {
    color: $textWhite;
}

/////////////////////////////////////////////////////connect page styles
.nav-container {
    padding: 10px 25px;
    // outline: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .image-wrap {
        width: max-content;
        // outline: 2px solid white;

        img {
            width: 100%;
        }
    }

    .menu-bar {
        margin-right: 100px;
        //   transform: rotate(-90deg);
        width: max-content;
        //   margin-top: -50px;
        // outline: 2px solid white;
        padding: -1rem 1rem;

        .nav {
            outline: 2px solid white;
            padding: 15px;

            #nav-items-wrap {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;

                .nav-links {
                    color: $textWhite;
                    font-size: 20px;
                    text-decoration: none;
                    font-family: $font_poppins;
                }

                .nav-links:hover {
                    color: $gold;
                }
            }
        }
    }
}

// main container styling

.main-intro {
    position: relative;

    .first-layer {
        display: flex;
        justify-content: space-between;

        #robo-img {
            width: 150px;
            position: absolute;
            top: -80px;
            left: 100px;

            @media (max-width: 768px) {
                width: 100px;
            }
        }

        #title-text {
            width: 300px;
            height: 80px;
            margin: 150px 200px 150px auto;
            // outline: 2px solid white;
            font-size: 30px;
            font-family: $font_poppins;
            font-weight: 200;
            letter-spacing: -1px;

            span {
                font-size: 50px;
                font-weight: bolder;
            }

            @media (max-width: 768px) {
                margin: 150px auto;
            }

        }
    }

    .second-layer {
        margin-bottom: 5em;
        padding: 0 10vw;

        // outline: 2px solid white;
        .search-area {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;

            .input-container {
                width: 35%;
                height: 40px;
                display: flex;

                img {
                    background-color: #b9961b;
                    min-width: 50px;
                    height: 40px;
                }

                input {
                    width: 100%;
                    height: inherit;
                    border-color: $gold;
                    background-color: transparent;
                    color: $gold;
                }

                input:focus {
                    outline: 1px solid $gold;
                }

                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;

            }
        }

        .bio-text {
            margin-top: 2.5rem;

            .bio {
                font-size: 20px;
                width: 100%;
                font-family: $font_poppins;
            }
        }
    }

    .third-layer {
        margin-top: 2em;
        padding: 0 10vw;

        // outline: 2px solid white;
        #skl-til {
            font-family: $font_poppins;
            font-size: 35px;
            padding-top: 20px;
        }

        .skill-gallery {
            margin-top: 2.5em;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 10px;



            .ski-card {
                width: 20%;
                height: auto;
                text-align: center;

                @media (max-width: 600px) {
                    width: 50%;
                }

                img {
                    width: 60%;
                    height: auto;
                }

                #til-he {
                    margin-top: 10px;
                }
            }
        }
    }
}

///UI Catalogue page////
.ui-catalogue {
    h1 {
        text-align: center;
    }

    .ui-designs {
        display: flex;
        justify-content: space-around;
        height: 100vh;

        .bura {
            width: 30%;

            .design {
                position: relative;
                height: 100%;
                background: radial-gradient(99.86% 60.29% at 9.7% 57.65%,
                        #24272F 0%, rgba(36, 39, 47, 0) 100%);
                box-shadow: -15px 17px 22px 1px rgba(0, 0, 0, 0.25);

                p {
                    position: absolute;
                    top: 200px;
                    left: 0;
                    transform: rotate(-90deg);
                    font-family: cursive;
                    font-weight: 400;
                    text-shadow: 17px 15px 21px #000000;
                    margin: 0;

                    span {
                        &:nth-child(1) {
                            color: #FFFFFF;
                            font-size: 5em;

                            @media(max-width: 768px) {
                                font-size: 3em;
                            }
                        }

                        &:nth-child(2) {
                            font-size: 2.5rem;
                            color: rgba(218, 189, 111, 0.99);

                            @media(max-width: 768px) {
                                font-size: 1.8rem;
                            }
                        }
                    }

                    @media(max-width: 768px) {
                        transform: rotate(0);
                        position: static;
                    }
                }

                a {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    @media (max-width: 768px) {
                        display: none;
                    }

                }

                @media (max-width: 768px) {
                    height: 75%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .tag {
                display: none;
                position: relative;

                p {
                    font-size: 2rem;
                    margin-left: 40px;

                    span {
                        left: 0;
                        top: 25%;
                        position: absolute;
                        background: #D6A909;
                        font-size: 1rem;
                        transform: rotate(-90deg);
                    }

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            color: #D6A909;
                        }
                    }
                }

                @media (max-width: 768px) {
                    display: flex;
                    align-items: center;
                    height: 25%;
                }
            }

            @media (max-width: 768px) {
                width: 100%;
                height: 400px;
                margin-block: 5vh;
            }
        }

        .antique {
            width: 30%;


            .design {
                background: radial-gradient(115.08% 50% at 50% 50%, #D6A909 0%, #B9961B 100%);
                overflow: hidden;
                height: 100%;
                position: relative;

                p {
                    letter-spacing: 0.055em;
                    font-size: 5em;

                    &:nth-child(1) {
                        margin: 200px 0 0 10px;
                        text-align: center;
                        color: #FFFFFF;
                        text-shadow: -11px 4px 4px rgba(0, 0, 0, 0.25);

                        @media(max-width: 768px) {
                            margin: 50px 0 0 0;
                        }

                    }

                    &:nth-child(2) {
                        color: #111111;
                        margin-left: 35%;

                        @media (max-width: 768px) {
                            margin-left: 45%;
                        }
                    }

                    @media (max-width: 768px) {
                        font-size: 3em;
                    }
                }

                a {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                @media (max-width: 768px) {
                    height: 75%;
                }
            }

            .tag {
                display: none;
                position: relative;

                p {
                    font-size: 2rem;
                    margin-left: 40px;

                    span {
                        left: 0;
                        top: 25%;
                        position: absolute;
                        background: #D6A909;
                        font-size: 1rem;
                        transform: rotate(-90deg);
                    }

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            color: #D6A909;
                        }
                    }
                }

                @media (max-width: 768px) {
                    display: flex;
                    align-items: center;
                    height: 25%;
                }
            }

            @media (max-width: 768px) {
                width: 100%;
                height: 300px;
                margin-block: 5vh;
            }

        }

        .biocomputer {
            width: 30%;

            .design {
                position: relative;
                overflow: hidden;
                height: 100%;
                background: radial-gradient(76.49% 49.53% at 0% 48.45%,
                        #FF00F5 31.38%, #4A00C4 74.22%, #370787 100%);
                box-shadow: -15px 17px 22px 1px rgba(0, 0, 0, 0.25);

                p {
                    font-family: "Ubuntu";
                    font-size: 40px;
                    font-weight: 700;
                    text-align: left;
                    position: absolute;
                    bottom: 20px;
                    left: 10px;
                }

                a {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                @media (max-width: 768px) {
                    height: 75%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .tag {
                display: none;
                position: relative;

                p {
                    font-size: 2rem;
                    margin-left: 40px;

                    span {
                        left: 0;
                        top: 25%;
                        position: absolute;
                        background: #D6A909;
                        font-size: 1rem;
                        transform: rotate(-90deg);
                    }

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            color: #D6A909;
                        }
                    }
                }

                @media (max-width: 768px) {
                    display: flex;
                    align-items: center;
                    height: 25%;
                }
            }

            @media (max-width: 768px) {
                width: 100%;
                height: 40vh;
                margin-block: 5vh;
            }

        }

        @media (max-width: 768px) {
            display: block;
            padding: 0 5vw;
        }
    }
}

.footer {
    width: 100%;
    padding: 3rem;
    text-align: center;
}

/*************** Scroll up button******************
#scroll-up {
    @media (max-width: 768px) {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 2;
        border: 1px solid #FFFFFF;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 100px;
        opacity: 100%;
        transition: opacity 0.5s;
    }
}*/